@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-foreground: #ffffff;
  --color-secondary: #f1f5f9;
  --color-accent: #3b82f6;
  --color-destructive: #ef4444;
  
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2.5rem;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}
